@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    position: relative;

}

body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

aside {
    flex: 15%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

main {
    flex: 85%;
    margin: 30px 50px;
    flex-direction: row-reverse;
}

hr {
    border: .01px solid rgba(128, 128, 128, 0.15);
}

/* h1 for logo */
h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2rem;
    color: rgba(28, 24, 24, 0.72);

}

h2 {
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 20px;

}


svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


/* styling notes container */

.notesList {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(300px, 2fr);


}


/* styling sinlge note */

.singleNote {

    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
    position: relative;

}

.singleNote h3 {
    margin: 10px 0 10px 0;
}

.singleNote p {
    max-width: 90%;
    height: 70px;
    overflow: scroll;
    margin: 10px 0 20px 0;

}




/* styling add form */

.addForm {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 200px;
    width: 400px;
    height: 350px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.196);
    /* display: flex; */
    /* flex-direction: column; */
    padding: 50px;
    /* gap: 1rem; */
}

.addForm svg{
    width: 20px;
    height: 20px;
}

:is(.addForm input, .addForm textarea) {
    width: 300px;
    padding: 10px 20px;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.196);

}

.addForm input {
    height: 30px;
    margin-top: 20px;
}

.addForm textarea {
    height: 80px;
}


/* custom color picker*/

.colorPicker {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-bottom: 10px;
    transform: rotate(270deg);


}

.selected {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #cccccc80;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;

}

.options {
    position: absolute;
    display: none;
    list-style: none;
  

}


li {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.options.active {
    display: block;
   
}

.color {
    cursor: pointer;
}

.color-1 {
    background-color: #ffadad;
}

.color-2 {
    background-color: #ffd6a5;
}

.color-3 {
    background-color: #fdffb6;
}

.color-4 {
    background-color: #e4f1ee;
}

.color-5 {
    background-color: #d9edf8;
}

.color-6 {
    background-color: #dedaf4;
}






/* edit form styling */

.editForm {

    width: 100%;
    height: 186px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.196);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 20px;
}

.editForm input,
.editForm textarea {
    padding-left: 20px;
    border: rgba(128, 128, 128, 0.349) 1px solid;
    border-radius: 10px;
    color: rgb(100, 99, 99);
    border: none;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.118);

}

.editForm input {
    height: 30px;
    margin: 10px 0;
}

.editForm textarea {
    height: 70px;
    padding-top: 10px;
}












/* not found  page styling */

.notFound {
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.notFound p {
    text-align: center;
}

.animatedImg {
    animation: move 7s infinite alternate;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);

    }
}


/* media queries */

@media screen and (max-width: 495px) {
    h2 {
        text-align: center;
    }

    .App {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    aside {
        align-items: center;
        margin-bottom: 0;
        flex: 0;
    }

    li, .selected{
        margin-bottom: 0;
    }

    .addForm {
        padding: 30px;
        width: 250px;
        height: 330px;
    }

    :is(.addForm input, .addForm textarea) {
        width: 180px;
    }

    .singleNote,
    .editForm {
        width: 200px;
        height: 200px;

    }

    .notesList {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
}